@media screen and (max-width: 800px) {
    .header .navbar ul {
        display: none;
    }
}

@media screen and (max-width: 450px) {
    .header .navbar .menu .btn {
        display: none;
    }
}

@media screen and (max-width: 725px) {
    .hero .image img {
        width: 300px;
    }

    .hero .image .box-1 {
        top: 20px;
        right: 0;
    }
    .hero .image .box-2 {
        bottom: 150px;
        left: 0;
    }
    .hero .image .box-3 {
        top: 300px;
        right: 0;
    }
}
