@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* ----- Common -----*/
a {
    text-decoration: none;
}

.btn {
    padding: 8px 25px;
    border-radius: 999px;
    font-size: 1.6rem;
    font-weight: 400;
    color: #fff2e1;
    background-color: #f48c06;
}

/* ----- navbar -----*/
.header {
    background-color: #fff2e1;
    height: 100vh;
    border-bottom-left-radius: 35%;
    border-bottom-right-radius: 35%;
}

.navbar,
.navbar .menu,
.navbar .menu ul {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.navbar {
    justify-content: space-between;
    padding: 10px 40px;
}

.navbar .menu ul a {
    padding: 10px;
    color: #252641;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: normal;
}

.navbar .menu ul a:hover {
    text-decoration: underline;
}

.logo {
    width: 100px;
}

.navbar .login-btn {
    color: #6c6c6c;
    background-color: #fff;
    margin-right: 10px;
}

/* ------- hero ------ */
.hero {
    padding: 0 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.hero .info {
    /* width: 400px; */
}

.hero .info .title {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.4;
    color: #2f327d;
}

.hero .info .title span {
    color: #f48c06;
}

.hero .info .desc {
    margin-top: 30px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.4;
    color: #464646;
}

.hero .info .cta {
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.hero .info .cta .watch {
    display: flex;
    align-items: center;
    gap: 10px;
}

.hero .info .cta .watch span {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    color: #252641;
}

.hero .info .cta img {
    width: 40px;
}

.hero .image {
    position: relative;
}

.hero .image img {
    width: 400px;
}

.hero .image .box {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    opacity: 0.8;
}

.hero .image .box img {
    width: 30px;
}

.hero .image .box .subtile {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.5;
    color: #595959;
}

.hero .image .box .desc {
    font-size: 1.3rem;
    font-weight: 400;
    color: #545567;
}

.hero .image .box-1 {
    top: 150px;
    left: 0;
}

.hero .image .box-2 {
    bottom: 80px;
    left: 0;
    display: flex;
    flex-direction: column;
}

.hero .image .box-2 .btn {
    background-color: #d8587e;
}

.hero .image .box-3 {
    top: 250px;
    right: 0;
}

.hero .image .box-3 .tick {
    position: absolute;
    width: 13px;
    right: 5px;
    top: 5px;
}

.hero .image .box-4 {
    top: 100px;
    right: 0;
}

.hero .image .box-4 img {
    width: 50px;
}

/* -------- company --------- */
.company {
    margin-top: 100px;
    padding: 0 40px;
}

.company .sub-title {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5;
    color: #696984;
}

.company .logo {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.company .logo a:hover {
    box-shadow: 0 0 10px 10px #eee;
    border-radius: 5px;
}

.company .logo img {
    width: 100px;
    padding: 10px;
}
